<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.min.js"></script>
  <script src="/js/index.js"></script>
  <title>MNIST</title>
</head>

<body>
  <h4>Write a number on this</h4>
  <canvas id="canvas" class="canvas" width="300" height="300">
    Sorry! your web browser does not support this elements
  </canvas>
  <div id="btn-clear" class="button">clear</div>

  <svg id="result" class="result" width="300" height="400"></svg>
</body>

</html>
