.map {
  width: 100%;
}

.location {
  transition: all 0.4s;
}

.hover {
  opacity: 0.8;
}

.info {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
}

h4 {
  margin: 0;
  padding: 0;
}

svg {
  border: 1px solid rgba(0,0,0,0.3);
}
